<section id="about" class="py-5">
    <div class="container">
        <h2 class="fw-bold mb-5 text-center">About Me</h2>
        <div class="about-layout"> <!-- Flexbox container -->
            <!-- Intro -->
            <div class="intro-section mb-4">
                <h4 class="text-light">Khushi Zope</h4>
                <p class="text-light"><strong>Master of Science in Web Engineering</strong></p>
                <p class="lead text-justify">
                    I am a passionate software developer with a strong foundation in building scalable,
                    high-quality applications. Currently pursuing my Master's in Web Engineering at Chemnitz
                    University of Technology, I continuously expand my expertise in modern technologies and
                    development methodologies. My background includes experience as a Software Engineer at Tech
                    Mahindra, where I contributed to the design, development, and optimization of features using
                    Java, Spring Boot, MySQL, Hibernate, JavaScript, and CMS platforms. I thrive on solving complex
                    challenges and delivering seamless user experiences, with a focus on both technical excellence
                    and user-centric design. As a lifelong learner, I'm always seeking new opportunities to enhance
                    my skills and collaborate on exciting projects. Please feel free to connect with me and send a
                    message.
                </p>
            </div>
            <!-- Education Section -->
            <div class="education-section">
                <h4 class="text-light mb-4">Education</h4>
                <div class="education-timeline">
                    <!-- Chemnitz University -->
                    <div class="education-item">
                        <span class="circle"></span>
                        <h5 class="fw-bold">Master of Science in Web Engineering</h5>
                        <p>Chemnitz University of Technology, Germany</p>
                        <p>October 2024 - Present</p>
                    </div>
                    <!-- Savitribai Phule Pune University -->
                    <div class="education-item">
                        <span class="circle"></span>
                        <h5 class="fw-bold">Bachelor of Engineering in Computer Science</h5>
                        <p>Savitribai Phule Pune University, India</p>
                        <p>Percentage - 1.5 grade</p>
                        <p>August 2019 - May 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
