<section id="home" class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Content -->
            <div class="col-md-6 text-center text-md-start">
                <h1 class="fw-bold mb-3">Khushi Zope</h1>
                <p class="lead mb-4">Master of Science in Web Engineering</p>
                <a href="resume/khushi_z_lebenslauf.pdf" class="btn btn-light btn-lg" download>Download CV</a>
            </div>
            <!-- Right Image -->
            <div class="col-md-6 text-center">
                <img src="img/bg_2.png" alt="Khushi Zope" class="img-fluid rounded" style="max-height: 600px;">
            </div>
        </div>
    </div>
</section>
