<section id="projects" class="py-3">
        <div class="container">
            <h2 class="fw-bold text-center mb-4">Projects</h2>
            <div class="row">
                <!-- Project 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card cardsize bg-secondary shadow p-3 rounded">
                        <img src="img/EcoRoute_Planner.png" class="card-img-top" alt="EcoRoute Planner">
                        <div class="card-body text-center">
                            <h5 class="card-title">EcoRoute Planner</h5>
                            <p class="card-text">Designed and developed a GIS-based web application optimizing commuter paths for eco-friendliness.</p>
                            <a href="https://github.com/khushizope/EcoRoute-Planner" target="_blank" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
                <!-- Project 2 -->
                <div class="col-md-4 mb-4">
                    <div class="card cardsize bg-secondary shadow p-3 rounded">
                        <img src="img/WebScrapi.png" class="card-img-top" alt="WebScrapi">
                        <div class="card-body text-center">
                            <h5 class="card-title">WebScrapi</h5>
                            <p class="card-text">Created a web scraping tool for structured data extraction.</p>
                            <a href="https://github.com/khushizope/Webscrapi" target="_blank" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
                <!-- Project 3 -->
                <div class="col-md-4 mb-4">
                    <div class="card cardsize bg-secondary shadow p-3 rounded">
                        <img src="img/TaskManagerAPI.png" class="card-img-top" alt="TaskManagerAPI">
                        <div class="card-body text-center">
                            <h5 class="card-title">TaskManagerAPI</h5>
                            <p class="card-text">Developed a task management API with robust features.</p>
                            <a href="https://github.com/khushizope/Taskmanager-" target="_blank" class="btn btn-primary">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="https://github.com/khushizope" class="btn btn-primary">More Projects</a>
            </div>
        </div>
    </section>